
.containerGlobal{
    display: grid
}
.listContainer{
    margin-top: 10px;
    height: 40vh;
    overflow-y: scroll
}
h1{
    margin-top: 80px;
    font-family: 'Roboto';
    font-weight: 400;
    max-width: 300px;
    font-size: 28pt
}